* 
{
	padding: 			0;
	margin: 			0;
	border: 			0;
}

@font-face {
  	font-family: 			'agency';
  	src: 					url('../fonts/agency.eot?#iefix') format('embedded-opentype'),  
  						url('../fonts/agency.woff') format('woff'), 
  						url('../fonts/agency.ttf')  format('truetype'), 
  						url('../fonts/agency.svg#AgencyFB-Reg') format('svg');
  	font-weight: 			normal;
  	font-style: 			normal;
}

body 
{
	background: 		#ffffff;
	overflow:			hidden;
	background-color:	black;
	background:   		url(../img/black1.png) !important;
	background-size:	cover  !important;
}
.logo
{
	position: 			absolute;
	margin-left: 		38.5%;
	width:				100% ;
	z-index: 			5000;
}


.main
{
	display: 			inherit;
}
h1
{
	font-size:			2em;
}
p
{
	font-size:			1.5em;
}
a{
	text-decoration: 	none;
}
.nav
{
	font-family: 		'agency' !important;
	display: 			flex;
	position: 			absolute;
	top:				0;
	right:				0;
	width:				100%;
	padding-left: 		25% !important;
	z-index: 			3000;
	background-color: 	rgba(28,27,27,0.6);	
	border-bottom:		4px solid;
	border-color: 		rgba(0,0,0,0.4);	
	flex-direction:		row;
}
.nav_item
{
	font-size:			3em;
	margin-right: 		1.5% !important;
}
.nav_item:nth-child(3)
{
	margin-left:		26%;
}

.nav_item a
{
	color:				#606060;
	transition: 		all 0.3s;
}

.nav_item a:hover
{
	color:				#AF6223;
}

.active_nav_item
{
	color:				#AF6223 !important;
}

.content
{
	position: 			absolute;
	width: 				100%;
	height: 			100%;
	visibility: 		hidden;
	cursor: 			hand;
	cursor:             -moz-grab;
	cursor:             -webkit-grab;
	cursor:             grab;
	color:				white;
	background:			transparent;
}

.panel-area
{
	padding-top:		7.7%;
	width:				auto;
	height:				auto;
	overflow: 			hidden;
	font-size: 			1.8em;
}

.panel-heading
{
	color:				rgba(96,96,96,0.4);
	font-size: 			0.9em;
	border-bottom:		4px solid;
	border-color: 		rgba(0,0,0,0.3);
	background-color: 	rgba(0,0,0,0.4);
	text-align: 		left;
	padding-left:		1%;
	padding-top:		1%;
}

.panel-content
{
	color:				rgba(255,255,255,0.7);
	font-size:			1em;
	padding:			1%;
	padding-right:		60%;
}

.greeting-big
{
	font-size:			3em;
	display: 			inline;
}

.bear
{
	opacity: 			0.4;
	width:				20%;
}

.input-transition
{
	outline: 			none;
	padding:			1.25%;
	margin-top:			0.5%;
	margin-bottom:		3.5%;
	background:			rgba(255,255,255,0.4);
	border-bottom:		2px solid rgba(0,0,0,0.0);
	border-radius:		3px;
	transition:			background 1s, border-bottom 3s, border-radius 1.2s;
}
.input-transition:focus
{
	background:			rgba(215,169,131,0.75);
	border-bottom:		2px solid rgba(191,145,105,0.5);
	border-radius:		6px;
}

input::-webkit-input-placeholder {
   color: 				black
}

@media screen and (min-width:1920px){

.logo
{
	padding:			1%;
	width:				13%;
}

.nav
{
	position: 			absolute;
	top:				0;
	padding:			2.65%;
	padding-right:		10%;
}

.main
{
	position:			inherit;
}

}

@media screen and (max-width:1919px){

.logo
{
	padding:			1%;
	width:				11%;
	min-width: 			200px;
}

.nav
{
	padding-left:		19% !important;
	position: 			absolute;
	top:				0;
	padding:			2.15%;
}

}


@media screen and (max-width:1620px){

.logo
{
	padding:			2%;
}

.panel-content
{
	padding-left:		2%;
	padding-right:		15%;
	padding-top:		2%;
	z-index:			3200;
}

}

@media screen and (max-width:1000px){

.logo
{
	padding-left: 		38.5%;
	padding-right: 		38.5%;
	width:				100% !important;
}

.nav
{
	margin-top:			11%;
	padding-left:		33% !important;
}

.nav_item
{
	font-size:			2.4em;
	margin-right: 		1.3% !important;
}

.panel-content
{
	color:				rgba(255,255,255,0.7);
	font-size:			0.9em;
	padding-left:		8%;
	padding-right:		8%;
	padding-top:		14%;
	z-index:			3200;
}

}

@media screen and (max-width:857px){

.nav
{
	margin-top:			11%;
	padding-left:		31% !important;
}

}

@media screen and (max-width:725px){

.nav
{
	margin-top:			11%;
	padding-left:		29% !important;
}

}

@media screen and (max-width:699px){

.logo
{
	min-width:			150px !important;
}
.nav
{
	margin-top:			11%;
	padding-left:		26% !important;
}

}

@media screen and (max-width:540px){

.logo
{
	width:				100%;
	min-width:			140px !important;
}
.nav
{
	margin-top:			11%;
	padding-left:		17% !important;
}

}
